@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    list-style: none;
}

body{
    background-color: #E2EFF4;
}

header{
    background-color:#128596;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuContainer{
    display: none;
}

.menu{
    display: none;
}

.bobHead{
    width: 7vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    color: #FFF;
    font-size: 1.3vw;
    font-weight: 600;
}

input{
    width: 10vw;
    border: solid 2px;
    border-radius: 20px;
    text-align: center;
    background-image: url(./assets/lupa.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-size: 1vw;
    font-size: 1vw;
}


.bobMain{
    background-image: url(./assets/mainbob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
}

h1{
    padding-top: 4vw;
    color: #128596;
    font-size: 5vw;
    padding-left: 3vw;
    padding-bottom: 3.4vw;
    text-shadow: -1px 3px 5px black; 
}

main ul{
    padding-left: 3vw;
    font-size: 3vw;
    color: #DB7948;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    max-height: 500px;
}

li{
    width: 50vw;
}

li:hover{
    cursor: pointer;
    background-color: #FEBD81;
}

.bobStories{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 4vw;
}

h2{
    color: #128596;
    font-size: 4vw;
    font-weight: 700;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

main article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
    position: relative;
}

main figure{
    width: 20vw;
    height: 500px;
    background-color: #128596;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vw;
    position: relative;
}

.patrick{
    width: 300px;
}

.squid{
    width: 350px;
    padding-top: 10px;
}

.krab{
    width: 350px;
}

.plankton{
    width: 350px;
}

button{
    position: absolute;
    background-color: #BF7A59;
    border: 0px;
    color: #E2EFF4;
    width: 96px;
    padding-top: 9.6px;
    padding-bottom: 9.6px;
    border-radius: 10px;
    font-size: 19.2px;
    top: 480px;
    right: 7.5vw;
}

button:hover{
    cursor: pointer;
}

.patrickB{
    right: 43vw;
}

.planktonB{
    top: 1055px;
}

.krabB{
    top: 1055px;
    right: 43vw;
}

.patrickContainer:hover::before{
    content: 'Patrick';
    background-color: #DB7948;
    width: 20vw;
    height: 150px;
    opacity: 80%;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    color:#FFF;
    top: 0px;
}

.squidContainer:hover::before{
    content: 'Squidward';
    background-color: #DB7948;
    width: 20vw;
    height: 150px;
    opacity: 80%;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    color:#FFF;
    top: 0px;
}

.krabContainer:hover::before{
    content: 'Mr. Krabs';
    background-color: #DB7948;
    width: 20vw;
    height: 150px;
    opacity: 80%;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    color:#FFF;
    top: 0px;
}

.planktonContainer:hover::before{
    content: 'Plankton';
    background-color: #DB7948;
    width: 20vw;
    height: 150px;
    opacity: 80%;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    color:#FFF;
    top: 0px;
}

footer{
    background-color: #128596;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 0.8vw;
}

footer article{
    color: #FFF;
}

footer img{
    width: 4vw;
}

@media screen and (max-width: 1300px){
    main article{
        flex-direction: column;
    }

    main figure{
        width: 30vw;
        height: 350px;
    }
    
    .patrick{
        width: 200px;
    }
    
    .squid{
        width: 250px;
    }
    
    .krab{
        width: 250px;
    }
    
    .plankton{
        width: 250px;
    }

    .patrickContainer:hover::before{
        width: 30vw;
    }
    
    .squidContainer:hover::before{
        width: 30vw;
    }
    
    .krabContainer:hover::before{
        width: 30vw;
    }
    
    .planktonContainer:hover::before{
        width: 30vw;
    }

    button{
        top: 330px;
        right: 24vw;
    }

    .patrickB{
       right: 24vw;
       top: 720px;
    }

    .planktonB{
        top: 1515px;
        right: 24vw;
    }
    
    .krabB{
        top: 1115px;
        right: 24vw;
    }
}

@media screen and (max-width: 800px){

    header{
        justify-content: flex-start;
    }

    .menuContainer{
    display: initial;
}

    .menu{
        display: initial;
        width: 5vw;
        margin-left: 3vw;
    }

    nav{
        display: none;
    }

    .bobHead{
        width: 9vw;
        margin-left: 18vw;
    }

    .bobMain{
        max-height: 600px;
    }

    h1{
        text-align: center;
        padding-left: 0;
        padding-top: 2vw;
        padding-bottom: 1vw;
    }

    main ul{
        align-items: flex-end;
        font-size: 4vw;
        height: 40vh;
    }

    
    h2{
        font-size: 5vw;
    }

    footer{
        flex-direction: row-reverse;
        font-size: 2vw;
        justify-content: space-evenly;
    }
    
    footer img{
        width: 6vw;
    }
}

@media screen and (max-width: 600px){

    main figure{
        width: 40vw;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
    
    .patrick{
        width: 150px;
    }
    
    .squid{
        width: 200px;
    }
    
    .krab{
        width: 200px;
    }
    
    .plankton{
        width: 200px;
    }
}